
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.login-page-container{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-welcome,
.auth-form-container {
  background-color: #1e1e1e; 
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
  animation: fadeIn 0.8s ease-out; 
}


h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 1rem 0;
}


p {
  color: #a9a9a9;
  margin-bottom: 2.5rem;
}


.auth-buttons {
  display: flex;
  gap: 15px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


input {
  background-color: #2a2a2a;
  border: 1px solid #444;
  color: #ffffff;
  padding: 14px;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #FFD700; 
}


button {
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
}


.auth-buttons button,
.auth-form button[type="submit"] {
  background-color: #FFD700;
  color: #121212; 
  flex: 1;
}

.auth-buttons button:hover,
.auth-form button[type="submit"]:hover {
  background-color: #eec600; 
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.2);
}


.back-button {
  margin-top: 20px;
  background-color: transparent;
  color: #FFD700;
  border: 1px solid #FFD700;
}

.back-button:hover {
  background-color: #FFD700;
  color: #121212;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}